.ContainerDashboard {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.Dashboard {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.BoxDashboard{
    width: 260px;
    height: 410px;
    background-color: #474850;
    margin: 20px;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: space-around;
   

    h4{
        margin-bottom: -10px;
    }
    p{
        margin-bottom: 0px;
        /* font-weight: 300; */
    }

    .subtitle {
        font-weight: 400;
    }

    a{
        text-decoration-line: none;
    }
}

.ImgDashboard{
        width: 260px;
        height: 150px;
        margin-top: 10px;
}

.ImgDashboard:hover{
        transition: 0.5s;
        transform: scale(1.1);
}

button {
        background-color: #2E4083;
        color: #fff;
        border-radius: 8px;
        width: 120px;
        height: 36px;
        font-weight: 500;
        border: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E4083;
        margin-top: 12px;
        cursor: pointer;
        
        span{
            margin-top: 3px;
            margin-right: 6px;
        }
}

button:hover{
    background-color: #71778bec;
    transform: scale(1.001);
}